body {
  background-color: pink;
  font-family: helvetica, sans-serif;
  width: 350px;
}

label {
  margin: 0px auto;
  font-weight: bold;
}

div {
  padding-bottom: 20px;
}

input[type="text"] {
  padding: 5px;
  width: 150px;
}

p {
  background: #2575ff;
  color: #ffffff;
  padding: 10px;
  visibility: hidden;
}