body {
  /* align-content: center; */
  max-width: max-content;
  margin: 20px auto;
  background-color: pink;
  font-family: helvetica, sans-serif;
  width: 350px;
}

label {
  font-weight: bold;
}

div {
  width: fit-content;
  /* margin: 0px auto; */
  margin: auto;
  padding-bottom: 20px;
}

input[type="text"] {
  padding: 5px;
  width: 150px;
}

p {
  background: #2575ff;
  color: #ffffff;
  padding: 10px;
  visibility: hidden;
}

button {
  background-color: black;
  color: white;
}